* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Quantico', sans-serif;
}

body {
    margin-top: 20px;
    background-color: black;
}

.container {
    box-sizing: border-box;
}


/* .nav_bar {
    position: absolute;
    top: 0;
    height: 50px;
    font-size: 10.13rem;
} */

.text {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 2vw;
    opacity: 0.8;
}

.text:hover {
    opacity: 1;
    color: blueviolet;
    font-size: 2vw;
}


/* #example {
    font-size: 1.17rem;
    text-decoration: none;
    color: rgb(131, 131, 131);
} */

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - 50px);
}

.film {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-image: url("/images/tumblr_nlnkqyR9dG1skr4hwo1_500.gif");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.film-text {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    color: white;
    position: relative;
    top: 45%;
    margin: 0 auto;
    text-decoration: none;
    opacity: 1;
}

.artwork {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-image: url("/images/d7dONFS.gif");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.artwork-text {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    position: relative;
    top: 45%;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    opacity: 1;
}

.arty {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-image: url("/images/glitch-loader-60fps-full-final.gif");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.arty-text {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    position: relative;
    top: 45%;
    color: white;
    text-decoration: none;
    opacity: 1;
    margin: 0 auto;
}

.business_card {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-image: url("/images/giphy.gif");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.business_cardtext {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    position: relative;
    top: 45%;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    opacity: 1;
}


/* HOVER EFFECT */

.film:hover {
    box-shadow: 0px 15px 200px rgba(24, 235, 151, 0.468);
    transform: translateY(-5px);
    transition: 2s;
    opacity: 0.1;
}

.artwork:hover {
    box-shadow: 0px 15px 200px rgba(24, 235, 151, 0.468);
    transform: translateY(-5px);
    transition: 2s;
    opacity: 0.1;
}

.arty:hover {
    box-shadow: 1px 10px 200px rgba(24, 235, 151, 0.468);
    transform: translateX(-9px);
    transition: 2s;
    opacity: 0.1;
}

.business_card:hover {
    box-shadow: 0px 15px 200px rgba(24, 235, 151, 0.468);
    transform: translateX(-9px);
    transition: 2s;
    opacity: 0.1;
}


/* headers text hover */

#example:hover {
    opacity: .8;
}

.audio {
    height: 0%;
    width: 0%;
}

@media only screen and (max-width: 530px) {
    .grid1 {
        display: flex;
        flex-direction: column;
    }
    .film {
        height: 25vh;
    }
    #example {
        font-size: 1.17rem;
        text-decoration: none;
        color: rgb(131, 131, 131);
    }
    .film-text {
        top: 12%;
        color: white;
        text-decoration: none;
        opacity: 1;
    }
    .artwork {
        /* grid-row: 2 / 3;
    grid-column: 1 / 3; */
        height: 25vh;
    }
    .artwork-text {
        top: 14%;
        color: white;
        text-decoration: none;
        opacity: 1;
    }
    .arty {
        /* grid-row: 3 / 4;
    grid-column: 1 / 3; */
        height: 25vh;
    }
    .arty-text {
        top: 14%;
        color: white;
        text-decoration: none;
        opacity: 1;
    }
    .business_card {
        /* grid-row: 4 / 5;
    grid-column: 1 / 3; */
        height: 25vh;
    }
    .business_cardtext {
        top: 13%;
        color: white;
        text-decoration: none;
        opacity: 1;
    }
}