<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Artwork Page</title>
    <link rel="stylesheet" href="style3.css">
</head>

<body>
    <nav class="nav_bar">
        <a id="example" href="/index.html" style="text-decoration: none;">MARK JAMES BUTCHER</a>
        <!-- <div class="japanese">マークブッチャー</div> -->
    </nav>
    <div class="container">
        <div class="grid1">

            <a class="film-text" href="#">PAINT.ings</a>
            <a href="https://www.bulletbutcher.com/paintings" class="film"></a>


            <a class="artwork-text" href="/pages/art.page.html">photoGRAPHY</a>
            <a href="https://www.bulletbutcher.com/japan" class="artwork"></a>


            <a class="arty-text" href="#">NOTEBOOK</a>
            <a href="https://www.bulletbutcher.com/slideshow" class="arty"></a>


            <a class="business_cardtext" href="/pages/contact.html">MURALS</a>
            <a href="/pages/contact.html" class="business_card"></a>


        </div>
    </div>

</body>


</html>