<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Film Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quantico" rel="stylesheet">

    <link rel="stylesheet" href="style2.css">
</head>

<body>
    <div class="grid">
        <nav class="nav_bar">
            <a id="example" href="/index.html">MARK JAMES BUTCHER</a>
            <div class="pagesicon">
                <a href="/pages/art.page.html"><i class="fas fa-meh-rolling-eyes"></i></a>
                <a href="/pages/interactive.html"><i class="fas fa-times"></i></a>
                <a href="/pages/contact.html"><i class="fas fa-exclamation-triangle"></i> </a>

            </div>
        </nav>


        <div class="sticky_carpet">
            <iframe src="https://www.youtube.com/embed/qpXPoOijavc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="sticky-text">
            <h3>STICKY CARPET</h3><br>
            <p>Sticky Carpet Premiered at Melbourne International Film Festival 2006, it featured musicians such as Rowland S Howard, My Disco, Eddy Current Suppression Ring, HTRK, Cosmic Psychos, The Stabs, and Ninety-nine.</p>

        </div>


        <div class="death_by-cinema">
            <iframe src="https://www.youtube.com/embed/NGoSUZxg_Bk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="death-text">
            <h3>DEATH BY CINEMA</h3><br>
            <p>Buckmaster -- challenge the veracity of that familiar saying: “find something that makes you happy and let it kill you.” ​ To sit through ten feature films every day for 20 days while the public watches on, live from the venue or through a
                streaming broadcast online</p>
        </div>

        <div class="burning-air">
            <iframe src="https://www.youtube.com/embed/J6Ih-r1IFgc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="burning-air-text">
            <h3>BURNING AIR</h3><br>
            <p>Painting animation warped dreamscape </p>
        </div>

        <div class="high_tea">
            <iframe src="https://www.youtube.com/embed/VLxRD-WzuzY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="high-tea-text">
            <h3>HIGH TEA</h3><br>
            <p>Dedicated to the genius of Nobel Prize winner Richard Feynman, The Pleasure Of Finding Things Out was recorded by High Tea @ Ben Ely (Regurgitator) Mister Pickle Records, Melbourne.</p>

        </div>
    </div>



</body>

</html>