* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Quantico', sans-serif;
}

body {
    background-color: black;
}

.container {
    height: calc(100vh - 50px);
    box-sizing: border-box;
}

.nav_bar {
    height: 50px;
}

.text {
    display: flex;
    justify-content: center;
    color: grey;
    font-size: 2vw;
    opacity: 0.8;
}

.text:hover {
    opacity: 1;
    color: blueviolet;
    font-size: 2vw;
}

#example {
    text-decoration: none;
    color: rgb(131, 131, 131);
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: calc(100vh - 50px);
}

.film {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    background-image: url("/images/paintings/IMG_9407.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}

.arty {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
}


/* HOVER EFFECT */

.film:hover {
    box-shadow: 0px 15px 200px rgba(24, 235, 151, 0.468);
    transform: translateY(-5px);
    transition: 1s;
    opacity: 0.5;
}


/* headers text hover */

#example:hover {
    opacity: .8;
}

.audio {
    height: 0%;
    width: 0%;
}

@media only screen and (max-width: 600px) {
    .grid {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 2rem 1fr 1fr;
        display: grid;
    }
    .film {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }
    .arty {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }
}