* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Quantico', sans-serif;
    color: grey;
}

body {
    background-color: black;
    font-size: 1.2rem;
    opacity: 0.8;
    height: 100%;
}

#example {
    text-decoration: none;
    color: rgb(131, 131, 131);
    font-size: 1.13rem;
}

form {
    padding: 1.3rem;
    font-size: 2.7vh;
}

.contact {
    color: azure;
    font-size: 1rem;
}

.nav_bar {
    height: 50px;
    text-decoration: none;
}

input {
    background-color: #464545ad;
    width: 20vh;
    display: flex;
    margin: 3vh 0 3vh;
}

.icons {
    position: absolute;
    top: 0vh;
    right: 0;
    width: 50vw;
    height: 3rem;
    background-color: grey;
}

.icons:hover {
    transform: scale(1.14, 1.14) translateX(-10px);
    /* transform: translateY(-5px); */
    transition: 3.3s;
}

.fab {
    position: relative;
    top: 6px;
    left: 4.5vw;
    height: 2rem;
    width: 2rem;
    color: black;
}

.fas {
    position: relative;
    top: 6px;
    left: 4.5vw;
    height: 2rem;
    width: 2rem;
    color: black;
}

.fas:hover {
    color: rgb(170, 169, 169);
    transform: scale(1.1, 1.1);
}

.fab:hover {
    color: rgb(170, 169, 169);
    transform: scale(1.1, 1.1);
}

.work {
    position: absolute;
    top: 15vh;
    left: 1.4vw;
    font-size: 1.5vw;
}

.work h3 {
    color: gainsboro;
}

.work ol {
    padding: 5px;
}

.work ol p {
    color: rgb(181, 181, 181);
}

@media only screen and (max-width: 720px) {
    .work {
        position: absolute;
        top: 15vh;
        left: 1.4vw;
        font-size: 1.8vw;
    }
    .icons {
        top: 10vh;
        width: 50vw;
    }
    form {
        padding: 1rem;
        font-size: 2.2vh;
    }
}

@media only screen and (max-width: 500px) {
    .work {
        display: none;
    }
}