* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Quantico', sans-serif;
    color: grey;
}

body {
    background-color: black;
    font-size: 1.6rem;
    opacity: 0.8;
}

form {
    padding: 2rem;
    margin: 0 auto;
    font-size: 2.7vh;
    opacity: 0.8;
}

.contact {
    color: azure;
    font-size: 1rem;
}

.nav_bar {
    text-decoration: none;
}

input {
    background-color: #464545ad;
    width: 20vh;
    display: flex;
    margin: 3vh 0 3vh;
}